## Pyspark group by and aggregations functions

In [1]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('GroupBYaggregatesession').getOrCreate()

In [4]:
spark_df = spark.read.csv('data5.csv', header=True,inferSchema=True)

In [6]:
spark_df.show()

+---------+------------+-------+
|     Name|  Department| Salary|
+---------+------------+-------+
|    rohit|Data Science|  25000|
|   sachin|         IOT|  20000|
|   shivam|    Big Data|  20000|
|sudhandhu|    Big Data|1000000|
|    priya|Data Science| 800000|
|    shyam|Data Science| 100000|
|    rohit|         IOT|   5000|
|    rohit|    Big Data|  15000|
|    priya|         IOT| 800000|
+---------+------------+-------+

In [10]:
# group by oprations 
spark_df.groupBy('Name') # it will return groupData and specific memory locations 

# groupBy aggregate funcions works together 

spark_df.groupBy('Name').sum().show() # it will return sum of salary of all grouped people

+---------+-----------+
|     Name|sum(Salary)|
+---------+-----------+
|   shivam|      20000|
|sudhandhu|    1000000|
|    rohit|      45000|
|    priya|    1600000|
|    shyam|     100000|
|   sachin|      20000|
+---------+-----------+

In [17]:
# department having maximum salary

spark_df.groupBy('Department').sum().show()

# number of employee in each department
spark_df.groupBy('Department').count().show()

# mean salary of each department based on number of  of employee in each department
spark_df.groupBy('Department').mean().show()

# maximum salary of each person in all department 
spark_df.groupBy('Name').max().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|     825000|
|    Big Data|    1035000|
|Data Science|     925000|
+------------+-----------+

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

+------------+-----------------+
|  Department|      avg(Salary)|
+------------+-----------------+
|         IOT|         275000.0|
|    Big Data|         345000.0|
|Data Science|308333.3333333333|
+------------+-----------------+

+---------+-----------+
|     Name|max(Salary)|
+---------+-----------+
|   shivam|      20000|
|sudhandhu|    1000000|
|    rohit|      25000|
|    priya|     800000|
|    shyam|     100000|
|   sachin|      20000|
+---------+-----------+

In [14]:
# Example of direct aggregate

In [16]:
spark_df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|    2785000|
+-----------+